## 1. csv merge

In [2]:
import pandas as pd
import numpy as np

In [6]:
#csv 합치기
import glob
import os

input_file = r'./data4'
output_file = r'./data4/all_bus_per_day-of-week.csv'

allFile_list = glob.glob(os.path.join(input_file, 'bus_*'))
print(allFile_list)
allData = []
for file in allFile_list:
    df = pd.read_csv(file)
    allData.append(df)

dataCombine = pd.concat(allData, axis=0, ignore_index=True)
dataCombine.to_csv(output_file, index=False)

['./data4/bus_2021_10.csv', './data4/bus_2020_6.csv', './data4/bus_2020_7.csv', './data4/bus_2021_3.csv', './data4/bus_2021_2.csv', './data4/bus_2021_1.csv', './data4/bus_2021_5.csv', './data4/bus_2021_4.csv', './data4/bus_2021_6.csv', './data4/bus_2021_7.csv', './data4/bus_2020_12.csv', './data4/bus_2020_10.csv', './data4/bus_2021_9.csv', './data4/bus_2021_8.csv', './data4/bus_2020_11.csv', './data4/bus_2020_9.csv', './data4/bus_2020_8.csv']

In [7]:
#합친 csv 불러오기
df = pd.read_csv("./data4/all_bus_per_day-of-week.csv")
df

          날짜         지역    항목     요일  하루평균(명)  전월하루평균(명)  전월대비(명) ±
0     202110  서울특별시 강남구  승차인원  하루 평균   257778     245241      12538
1     202110  서울특별시 강동구  승차인원  하루 평균    89268      86915       2353
2     202110  서울특별시 강북구  승차인원  하루 평균   151903     149755       2148
3     202110  서울특별시 강서구  승차인원  하루 평균   145172     141802       3370
4     202110  서울특별시 관악구  승차인원  하루 평균   232703     223878       8825
...      ...        ...   ...    ...      ...        ...        ...
3395  202008  서울특별시 용산구  승차인원    일요일    63175      79044     -15869
3396  202008  서울특별시 은평구  승차인원    일요일    83335     103093     -19758
3397  202008  서울특별시 종로구  승차인원    일요일    76125     101538     -25413
3398  202008   서울특별시 중구  승차인원    일요일    51594      67477     -15883
3399  202008  서울특별시 중랑구  승차인원    일요일    60299      71099     -10800

[3400 rows x 7 columns]

## 2. 데이터 전처리

In [8]:
#데이터 타입 확인
df.dtypes

날짜            int64
지역           object
항목           object
요일           object
하루평균(명)       int64
전월하루평균(명)     int64
전월대비(명) ±     int64
dtype: object

In [10]:
#필요없는 컬럼 제거
df = df.drop(["항목","전월하루평균(명)", "전월대비(명) ±"], axis=1)
df

          날짜         지역     요일  하루평균(명)
0     202110  서울특별시 강남구  하루 평균   257778
1     202110  서울특별시 강동구  하루 평균    89268
2     202110  서울특별시 강북구  하루 평균   151903
3     202110  서울특별시 강서구  하루 평균   145172
4     202110  서울특별시 관악구  하루 평균   232703
...      ...        ...    ...      ...
3395  202008  서울특별시 용산구    일요일    63175
3396  202008  서울특별시 은평구    일요일    83335
3397  202008  서울특별시 종로구    일요일    76125
3398  202008   서울특별시 중구    일요일    51594
3399  202008  서울특별시 중랑구    일요일    60299

[3400 rows x 4 columns]

In [12]:
#필요없는 컬럼값 제거
df = df[df.요일 != "하루 평균"].reset_index(drop=True)
df

          날짜         지역   요일  하루평균(명)
0     202110  서울특별시 강남구  월요일   233787
1     202110  서울특별시 강동구  월요일    83519
2     202110  서울특별시 강북구  월요일   145623
3     202110  서울특별시 강서구  월요일   136314
4     202110  서울특별시 관악구  월요일   219203
...      ...        ...  ...      ...
2970  202008  서울특별시 용산구  일요일    63175
2971  202008  서울특별시 은평구  일요일    83335
2972  202008  서울특별시 종로구  일요일    76125
2973  202008   서울특별시 중구  일요일    51594
2974  202008  서울특별시 중랑구  일요일    60299

[2975 rows x 4 columns]

In [13]:
#컬럼명 이름 변경
df = df.rename(columns={"하루평균(명)":"평균승차인원"})
df

          날짜         지역   요일  평균승차인원
0     202110  서울특별시 강남구  월요일  233787
1     202110  서울특별시 강동구  월요일   83519
2     202110  서울특별시 강북구  월요일  145623
3     202110  서울특별시 강서구  월요일  136314
4     202110  서울특별시 관악구  월요일  219203
...      ...        ...  ...     ...
2970  202008  서울특별시 용산구  일요일   63175
2971  202008  서울특별시 은평구  일요일   83335
2972  202008  서울특별시 종로구  일요일   76125
2973  202008   서울특별시 중구  일요일   51594
2974  202008  서울특별시 중랑구  일요일   60299

[2975 rows x 4 columns]

In [14]:
#날짜 데이트 타입변형
#이유 : int타입이므로 그룹화했을 때 날짜도 평균으로 나타남. 그러므로 string으로 바꿔줌.
df = df.astype({"날짜" : str})
df.dtypes

날짜        object
지역        object
요일        object
평균승차인원     int64
dtype: object

In [15]:
#지역과 요일별로 그룹화하기
df2 = df.groupby(["지역","요일"]).mean().round(0).reset_index()
df2

            지역   요일    평균승차인원
0    서울특별시 강남구  금요일  297495.0
1    서울특별시 강남구  목요일  298238.0
2    서울특별시 강남구  수요일  296855.0
3    서울특별시 강남구  월요일  283986.0
4    서울특별시 강남구  일요일  125063.0
..         ...  ...       ...
170  서울특별시 중랑구  수요일  126459.0
171  서울특별시 중랑구  월요일  123351.0
172  서울특별시 중랑구  일요일   65595.0
173  서울특별시 중랑구  토요일   91508.0
174  서울특별시 중랑구  화요일  127705.0

[175 rows x 3 columns]

In [17]:
#요일 정렬하기
#요일을 정렬할 때 string이므로 알파벳순으로 정렬이 된다.
#따라서 요일별로 정렬할 수 있도록 모듈을 불러온다.
from pandas.api.types import CategoricalDtype

In [18]:
#요일을 월요일 순서대로 정렬할도록 설정
cat_day_of_week = CategoricalDtype(
    ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'], 
    ordered=True
)
#요일 타입이 카테고리 타입으로 변경되었는지 확인
df2["요일"] = df2["요일"].astype(cat_day_of_week)
df2.dtypes

지역          object
요일        category
평균승차인원     float64
dtype: object

In [19]:
#지역과 요일기준으로 정렬
df2 = df2.sort_values(["지역", "요일"]).reset_index(drop=True)
df2

            지역   요일    평균승차인원
0    서울특별시 강남구  월요일  283986.0
1    서울특별시 강남구  화요일  300717.0
2    서울특별시 강남구  수요일  296855.0
3    서울특별시 강남구  목요일  298238.0
4    서울특별시 강남구  금요일  297495.0
..         ...  ...       ...
170  서울특별시 중랑구  수요일  126459.0
171  서울특별시 중랑구  목요일  126285.0
172  서울특별시 중랑구  금요일  126444.0
173  서울특별시 중랑구  토요일   91508.0
174  서울특별시 중랑구  일요일   65595.0

[175 rows x 3 columns]

In [20]:
#parqeut 저장
df2.to_parquet("bus_per_day-of-week.parquet")